DATASETS
DUMMY
DUMMY2
samples
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align/monotonic_align

generated_files_from_mel/

filelists/custom_audio_text_train_filelist.txt
filelists/custom_audio_text_test_filelist.txt
