DATASETS
DUMMY
DUMMY2
CUSTOM
CUSTOM2
ACRYL
samples
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align/monotonic_align

generated_files_from_mel/

filelists/custom_audio_text_train_filelist.txt
filelists/custom_audio_text_test_filelist.txt
filelists/acryl_audio_text_test_filelist.txt
filelists/acryl_audio_text_train_filelist.txt
filelists/sony_audio_text_test_filelist.txt
filelists/sony_audio_text_train_filelist.txt

configs/

tst_stns_custom.txt
